.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.flip-card {
    background-color: transparent;
    width: 30rem;
    height: 45rem;
    margin: 5rem;
    perspective: 1000px;
    font-family: sans-serif;
}

.flip-card p {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 3px black;
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
}

.flip-card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.flip-card-back ul {
    list-style: none;
    font-size: 24px;
    padding: 0;
    margin: 0;

}

.flip-card-back ul li {
    padding: 1rem;
    border-bottom: 1px solid black;
}